@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }

    div.logo {
        background-image: none;
        color: red;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.488);
    }

    a.btn {
        display: block;
        background-color: red;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px red;
        color: white;
        border: 2px solid transparent;
        transition: 0.6s;
    }

    a.btn:hover {
        background-color: transparent;
        color: red;
        border: 2px solid red;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        justify-content: space-between;
        padding: 13px 200px;
    }

    a.btn {
        padding: 12px 30px;
        margin-left: 20px;
    }

    main {
        div.main-home {
            flex-direction: row;
            justify-content: space-around;

            div.main-left {

                ul {
                    width: 350px;
                }

                p {
                    display: block;
                    text-align: center;
                    margin: 30px;
                    font-size: 1.3em;
                    color: rgb(110, 110, 110);
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.252);
                    line-height: 1.5em;
                    max-width: 500px;
                }
            }
        }
    }
}