@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }

    div.logo {
        background-image: none;
        color: red;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.488);
    }

    a.btn {
        display: block;
    }

    main > div.bnf-container {
    width: 90vw;
    height: 470px;

    section.card {
        justify-content: space-around;
        flex: 1 1 auto;
        width: 201px;
        height: 180px;
        padding: 10px;
        
            h3 {
                font-size: 1.1em;
            }

            p {
                display: block;
                font-size: 0.8em;
                line-height: 1.5em;
            }
        }
    }

    main > div.produtos {

        section.card-market {
        width: 300px;
        height: 370px;
        }

        section > img {
            width: 310px;
            margin-top: -9px;
        }
    }
}

@media screen and (min-width: 1200px) {
    nav {
        padding: 13px 200px;
    }

    a.btn {
        padding: 12px 30px;
        margin-left: 20px;
    }

    main {
        div.main-home {
            flex-direction: row;
            justify-content: space-around;

            div.main-left {

                ul {
                    width: 350px;
                }

                p {
                    display: block;
                    text-align: center;
                    margin: 30px;
                    font-size: 1.3em;
                    color: rgb(110, 110, 110);
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.252);
                    line-height: 1.5em;
                    max-width: 500px;
                }
            }
        }
    }

    main > div.bnf-container {
        width: 1000px;
        height: 600px;

        section.card {
            flex-flow: column wrap;
            align-items: flex-start;
            width: 300px;
            height: 200px;

            span#icon-card {
                font-size: 2em;
            }

            h3 {
                font-size: 1.6em;
            }

            p {
                display: block;
                font-size: 1em;
                line-height: 1.3em;
            }
        }
    }
}