@charset "UTF-8";

:root {
    --color-neutra01: #0D0D0D;
    --color-neutra02: #262626;
    --color-neutra03: #404040;
    --color-neutra04: #737373;
    --color-neutra05: #A6A6A6;
    --color-neutra06: #fff;

    --color-primary01: #020E26;
    --color-primary02: #021F59;
    --color-primary03: #03318C;
    --color-primary04: #0000ff;
    --color-primary05: #074DD9;
    --color-primary06: #0540F2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

header {
    background-color: rgb(35, 35, 35);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.256);
    padding: 20px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}

div.logo {
    font-weight: bolder;
    font-size: 2.5em;
    color: transparent;
    background-image: url(../img/honda-red.png);
    background-size: cover;

    width: 50px;
    height: 50px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
        font-size: 1.1em;
    }

    a:hover {
        color: rgb(185, 0, 0);
    }
}

a.btn {
    display: none;
    background-color: red;
    text-shadow: 0px 0px 3px red;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px red;
    color: white;
    border: 2px solid transparent;
    transition: 0.6s;
}

a.btn:hover {
    background-color: transparent;
    border: 2px solid red;
    color: red;
}

main {
    background-color: rgb(26, 26, 26);
}

main > div.main-home {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(60, 60, 60));
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.452);
}

main > div.main-home > div.main-left {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin-top: 50px;
        font-size: 4em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.579);
        line-height: 1em;
        text-align: center;
        width: 280px;
    }

    strong {
        color: red;
        text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.424);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
        width: 330px;
        background-color: gray;
        border-radius: 5px;

        li {
            padding: 5px;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.457);
        }
    }

    p {
        display: none;
    }
}

main > div.main-home > div.main-right {

    img {
        max-width: 90vw;
        margin-top: 40px;
    }
}

main > div.bnf-container {
    display: flex;
    margin: auto;
    height: 350px;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 15px;
    background-color: rgb(26, 26, 26);

    section.card {
        margin-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(38, 38, 38);
        color: white;
        width: 90px;
        height: 90px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.266);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.579);

        span#icon-card {
            background-color: rgb(66, 66, 66);
            color: white;
            padding: 3px;
            border-radius: 5px;
            margin-bottom: 10px;
            transition: 0.1s;
        }

        h3 {
            font-size: 0.9em;
            text-align: center;
        }

        p {
            display: none;
        }
    }
    section.card:hover {          
        span#icon-card {
            color: rgb(38, 38, 38);
            background-color: rgb(170, 0, 0);
        }
    }
}

main > div.produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(22, 22, 22);
    margin-top: 50px;

    section.card-market {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 210px;
        height: 280px;
        gap: 20px;
        padding: 5px;
        align-items: center;
        margin-top: 50px;
        background-color: rgb(45, 45, 45);
        border-radius: 15px;
        color: white;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.306);
    }

    p {
        color: rgb(194, 194, 194);
    }

    section > img {
        width: 220px;
        margin: -5px;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
    }



    .vtg-container {
        display: flex;
        flex-direction: row nowrap;
        gap: 8px;

        .vtg {
            display: flex;
            flex-direction: row nowrap;
            justify-content: space-evenly;
            gap: 3px;
            flex: 1px 1px auto;
            padding: 7px;
            background-color: rgb(40, 40, 40);
            border-radius: 15px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.268);
            
            p {
                font-size: 1em;
                color: white;
                padding: 0px;
                margin: 0px;
            }

        }

        #icon-vtg {
            font-size: 0.9em;
        }
    }

    h4 {
        font-size: 1.3em;
        padding: 10px;
        color: rgb(0, 141, 0);
        text-shadow: 2px 2px 3px #0d0d0d5a;
    }
}