@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    background-color: rgb(35, 35, 35);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.256);
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
    gap: 15px;
    align-items: center;
}

div.logo {
    font-weight: bolder;
    font-size: 2.5em;
    color: transparent;
    background-image: url(../img/honda-red.png);
    background-size: cover;

    width: 50px;
    height: 50px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
        font-size: 1.1em;
    }

    a:hover {
        color: rgb(185, 0, 0);
    }
}

a.btn {
    display: none;
    background-color: red;
    text-shadow: 0px 0px 3px red;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px red;
    color: white;
    border: 2px solid transparent;
    transition: 0.6s;
}

a.btn:hover {
    background-color: transparent;
    border: 2px solid red;
    color: red;
}

main {
    background-color: rgb(26, 26, 26);
}

main > div.main-home {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(60, 60, 60));
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.452);
}

main > div.main-home > div.main-left {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin-top: 50px;
        font-size: 4em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.579);
        line-height: 1em;
        text-align: center;
        width: 400px;
    }

    strong {
        color: red;
        text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.424);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
        width: 330px;
        background-color: gray;
        border-radius: 5px;

        li {
            padding: 5px;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.457);
        }
    }

    p {
        display: none;
    }
}

main > div.main-home > div.main-right {

    img {
        max-width: 90vw;
        margin-top: 40px;
    }
}

main > div.bnf-container {
    display: flex;
    margin: auto;
    width: 89vw;
    height: 350px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 15px;
    background-color: rgb(26, 26, 26);

    h2 {
        color: white;
        font-size: 2em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.802);
        width: 100vw;
        text-align: center;
    }

    section.card {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(38, 38, 38);
        color: white;
        width: 90px;
        height: 90px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.266);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.579);

        span#icon-card {
            background-color: rgb(66, 66, 66);
            color: white;
            padding: 3px;
            border-radius: 5px;
            margin-bottom: 10px;
            transition: 0.2s;
        }

        h3 {
            font-size: 0.9em;
            text-align: center;
        }

        p {
            display: none;
        }
    }
    section.card:hover {          
        span#icon-card {
            color: rgb(38, 38, 38);
            background-color: rgb(255, 46, 46);
        }
    }
}

main > div.produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgb(22, 22, 22);

    section.card-market {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-top: 30px;
        background-color: rgb(87, 87, 87);
        border-radius: 2px;
        color: white;
    }

    section > img {
        width: 200px;
        background-color: white;
    }

    .vtg-container {
        display: flex;
        gap: 10px;

        .vtg {
            padding: 7px;
            background-color: rgb(45, 45, 45);
            border-radius: 15px;
        }

        #icon-vtg {
            font-size: 1em;
        }
    }
}