@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    background-color: rgb(35, 35, 35);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.256);
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
    gap: 15px;
    align-items: center;
}

div.logo {
    font-weight: bolder;
    font-size: 2.5em;
    color: transparent;
    background-image: url(../img/honda-red.png);
    background-size: cover;

    width: 50px;
    height: 50px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
        font-size: 1.1em;
    }

    a:hover {
        color: rgb(185, 0, 0);
    }
}

a.btn {
    display: none;
}

main {

}

main > div.main-home {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(60, 60, 60));
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.452);
}

main > div.main-home > div.main-left {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin-top: 50px;
        font-size: 4em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.579);
        line-height: 1em;
        text-align: center;
        width: 400px;
    }

    strong {
        color: red;
        text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.424);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
        width: 330px;
        background-color: gray;
        border-radius: 5px;

        li {
            padding: 5px;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.457);
        }
    }

    p {
        display: none;
    }
}

main > div.main-home > div.main-right {

    img {
        max-width: 90vw;
        margin-top: 40px;
    }
}

main > div.bnf-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: left;
    gap: 10px;
    background-color: rgb(13, 13, 13);

    h2 {
        justify-content: center;
        color: white;
        font-size: 2em;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.802);
    }

    section > span#icon-card {
        background-color: rgb(66, 66, 66);
        padding: 5px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px solid white;
    }

    section.card {
        background-color: rgb(38, 38, 38);
        color: white;
        width: 90vw;
        padding: 10px;
        border-radius: 10px;
    }
}